
#media_info_edit_modal_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#media_info_edit_modal {
    position: relative;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 200;
}

