@import '../css/style.css';

.thumbnail {
    background-color: var(--main-bg-color);
    width: 241px;
    height: 155px;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .thumbnail {
        width: 171px;
        height: 100px;
        border-radius: 0px;
      }
}