@import '../css/style.css';

#search_menu {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.search_menu_item {
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.search_menu_item p {
    font-size: large;
    width: 100px;
    color: var(--main-accent-color);
    margin: auto;
}

.selector {
    width: 100%;
}

#search_button {
    margin: 10px 0px 0px 90px;
    width: 100px;
}

#show_advanced_options_element {
    text-align: center;
    float: right;
    color: var(--main-accent-color);
}

@media (max-width: 768px) {
    #search_menu {
        width: 100%;
    }

    .search_menu_item {
        flex-direction: column;
    }
}