#tags_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tags_table_table {
    width: 95%;
}

#tags_table_table table tbody tr {
    color: white;
}

.edit_a, .delete_a {
    color: var(--main-text-color);
    cursor: pointer;
}
