:root {
    --main-bg-color: #1d1d1d;
    --main-text-color: rgb(200, 200, 200);
    --main-border-color: #454545;
    --main-accent-color: rgb(0, 102, 255);
    --media-thumbnail-border-color: rgb(0, 102, 255);
    --album-thumbnail-border-color: rgb(173, 0, 255);
  }
  
  body {
    /* background-color: var(--main-bg-color); */
  }
