#nav_options_button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

#nav_options_button:focus {
    outline: none;
}

.nav_options_button_line {
    width: 24px;
    height: 2px;
    background-color: var(--main-accent-color);
}
